<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- for local only testing -->
		<add key="AzFuncURI" value="http://localhost:7151/api/" />
		<!-- for local only testing -->
		<add key="TradingServiceURI" value="http://localhost:3000/reddit" />
		<add key="RealTradingServiceURI" value="https://tradestie.com/api/v1/apps/reddit" /> 
	</appSettings>
</configuration>